[submodule "thirdparty/tmpfs-ccache"]
	path = thirdparty/tmpfs-ccache
	url = https://github.com/richiware/tmpfs-ccache.git
[submodule "thirdparty/squash-portage"]
	path = thirdparty/squash-portage
	url = https://github.com/richiware/squash-portage.git
[submodule "thirdparty/gnome-terminal-colors-solarized"]
	path = thirdparty/gnome-terminal-colors-solarized
	url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
[submodule "thirdparty/dircolors-solarized"]
	path = thirdparty/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "thirdparty/powerline"]
	path = thirdparty/powerline
	url = https://github.com/powerline/powerline.git
[submodule "thirdparty/vim-conf"]
	path = thirdparty/vim-conf
	url = https://github.com/richiware/vim-conf.git
