[submodule "thirdparty/tmpfs-ccache"]
    path = thirdparty/tmpfs-ccache
    url = https://github.com/richiware/tmpfs-ccache.git
    branch = master
    shallow = true
[submodule "thirdparty/squash-portage"]
    path = thirdparty/squash-portage
    url = https://github.com/richiware/squash-portage.git
    branch = master
    shallow = true
[submodule "thirdparty/gnome-terminal-colors-solarized"]
    path = thirdparty/gnome-terminal-colors-solarized
    url = https://github.com/Anthony25/gnome-terminal-colors-solarized.git
    branch = master
    shallow = true
[submodule "thirdparty/powerline"]
    path = thirdparty/powerline
    url = https://github.com/powerline/powerline.git
    branch = master
    shallow = true
[submodule "thirdparty/vim-conf"]
    path = thirdparty/vim-conf
    url = https://github.com/richiware/vim-conf.git
    branch = master
    shallow = true
[submodule "thirdparty/taskwhisperer"]
    path = thirdparty/taskwhisperer
    url = https://github.com/cinatic/taskwhisperer.git
    branch = master
    shallow = true
[submodule "thirdparty/redminetimesync"]
    path = thirdparty/redminetimesync
    url = https://github.com/richiware/redminetimesync.git
    branch = master
    shallow = true
[submodule "thirdparty/taskwarrior-hamster-hook"]
    path = thirdparty/taskwarrior-hamster-hook
    url = https://github.com/richiware/taskwarrior-hamster-hook.git
    branch = master
    shallow = true
[submodule "thirdparty/gnome-shell-remove-dropdown-arrows"]
    path = thirdparty/gnome-shell-remove-dropdown-arrows
    url = https://github.com/mpdeimos/gnome-shell-remove-dropdown-arrows.git
    branch = master
    shallow = true
[submodule "thirdparty/text-translator"]
    path = thirdparty/text-translator
    url = https://github.com/gufoe/text-translator.git
    branch = master
    shallow = true
[submodule "thirdparty/gnome3-jenkins-indicator"]
    path = thirdparty/gnome3-jenkins-indicator
    url = https://github.com/philipphoffmann/gnome3-jenkins-indicator.git
    branch = master
    shallow = true
[submodule "thirdparty/zsh-notify"]
	path = thirdparty/zsh-notify
	url = https://github.com/richiware/zsh-notify.git
[submodule "thirdparty/gmail-oauth2-tools"]
	path = thirdparty/gmail-oauth2-tools
	url = https://github.com/google/gmail-oauth2-tools
[submodule "thirdparty/email-conf"]
	path = thirdparty/email-conf
	url = https://github.com/richiware/email-conf.git
