[Unit]
Description=Trim free cells on the SSD
After=local-fs.target
 
[Service]
ExecStart=/sbin/fstrim /
Type=oneshot

[Install]
WantedBy=multi-user.target
